spring:
  config:
    activate:
      on-profile: production

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}

sentry:
  dsn: ${SENTRY_DSN}
  enabled: true